/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 body {
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
   font-size: 15px;
   background: #f2f5f8;
   font-weight: 300;
 }

 a {
   /* text-decoration: none; */
 }

 .app-cont {
   max-width: 1080px;
   margin: 0 auto;
 }

 .app-cont-thin {
   max-width: 650px;
   background: #fff;
   padding: 1em 0;
   border-radius: 3px;
 }

 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Styling for sorted column arrows. */
th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: 'up_arrow.gif';
}

th .desc {
  background-image: 'down_arrow.gif';
}

#user_nav { float: right; }

@import "bootstrap";
